{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                      {% for message in messages %}
                          <p style="color: lightred;">{{ message }}</p>
                      {% endfor %}
              {% endif %}
          {% endwith %}
          <form method="post" action="{{ url_for('login') }}" novalidate>

            {{ form.email.label(class_="form-label") }}
            {{ form.email(class_="form-control") }}
            <!--            Errors-->
            {% for err in  form.email.errors %}
            <span class="form-text" style="color: red">
                {{ err }}
            </span>
            {% endfor %}
            <br>
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
            <!--            Errors-->
            {% for err in  form.password.errors %}
            <span class="form-text" style="color: red">
                {{ err }}
            </span>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
          </form>

      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}